* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
}

h2 {
    color: black;
    font-size: 30px;
    text-align: center;

}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid lightcoral;
    background-color: rgb(10, 155, 252);
    color: black;
    font: 16pt;
    font-weight: 600;
    text-align: center;
}

